<h3>
    Szczegóły Filmu:
</h3>
<app-movie-profile [movie]="movie"></app-movie-profile>
<div>
    <h3>Słowo od autora : </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam expedita fugit repellat soluta voluptatem. A ab, consequuntur enim
        in incidunt placeat quibusdam unde? A assumenda aut corporis, distinctio enim fugiat quibusdam unde voluptates! Consequuntur
        corporis cum dolorem fugit laudantium nihil! Aliquam corporis cumque ducimus eius enim fugiat fugit inventore iste laboriosam nemo
        nihil nobis nulla, odit perferendis placeat quod veritatis. Aut cupiditate dolorem doloribus ea! Alias aperiam debitis, delectus
        esse exercitationem explicabo libero, magni molestiae nam nemo nesciunt nulla officia optio perspiciatis quod quos suscipit
        voluptatibus voluptatum. Aspernatur blanditiis culpa cupiditate dicta doloremque ducimus fuga magni nemo, non numquam ullam!</p>
</div>